.discovertext {
    text-transform: none !important;
}

@media only screen and (min-width:1000px) {
    .discovertext {
        line-height: 65px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 55px !important;
    }
}

.select2-container--default .select2-selection--single {
    background-color: transparent !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.5) !important;
    border-radius: 0px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #fff !important;
    font-weight: 100;
    line-height: 35px;
}

.select2-container {
    width: auto !important;
}

.select2-container .select2-selection--single {
    height: auto !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    display: none !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #fff transparent transparent transparent !important;
    border-width: 5px 4px 0 4px !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0px;
    padding-right: 0px;
}

.select2-dropdown--below {
    margin-top: -2px !important;
}

.select2-dropdown--below,
.select2-dropdown--above {
    min-width: 250px !important;
}

.select2-results {
    color: #212121;
}

.select2-results__option {
    padding-left: 10px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #2196F3;
}

@media only screen and (max-width:690px) {

    .select2-container--open .select2-dropdown--below,
    .select2-container--open .select2-dropdown--above {
        width: 90% !important;
        position: fixed !important;
        left: 5% !important;
    }

    .chart-container {
        padding: 20px 0px !important;
        margin-top: 0px !important;
    }
}

@media only screen and (max-width:1000px) {
    .mainrow {
        padding-top: 85px !important;
        padding-bottom: 20px !important;
    }

    .discovertext {
        line-height: 42px;
    }
}

.chart,
.chart-container {
    position: relative;
    width: 100%;
}

.chart {
    display: block;
}

.chart,
.chart-container {
    position: relative;
    width: 100%;
}

.chart-container.has-scroll {
    overflow-x: scroll;
    overflow-y: visible;
    max-width: 100%
}

.chart-container {
    max-width: 1200px !important;
    margin: 0px auto;

}

.has-fixed-height {
    height: 400px;
}

.chart {
    display: block;
    direction: ltr;
}

.full-width-content.blog-fullwidth-wrap:not(.meta-overlaid) {
    overflow-x: hidden !important;
}

#main {
    padding-bottom: 0px;
}