#controlbar{
    background-color: #212121;
    position: fixed;
    bottom: 0px;
    z-index: 999;
    color:#fff !important;
    height: 60px;
    padding-top: 2px;
    width: 100%;
    transition: bottom 0.3s;
    text-align:center;
    -webkit-box-shadow: -1px -12px 38px -3px rgba(33,33,33,0.6);
-moz-box-shadow: -1px -12px 38px -3px rgba(33,33,33,0.6);
box-shadow: -1px -12px 38px -3px rgba(33,33,33,0.6);
}

.iziModal-navigate > button,.iziModal .iziModal-button{
    opacity:1 !important;
}

.hidden{
	visibility: hidden !important;
}

.tohide{
	display: none !important;
}

#searchwidget{
    max-width:400px !important;
    margin: 0px auto!important;
    height: 390px !important;
}

#iContainer {
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 480px){

#searchwidget{
   margin-top:10px !important;
    margin-left:0px !important;
     margin-right:0px !important;
      margin-bottom:25px !important;
}

}

@media (max-width: 1000px){

.mainrow{
    padding-top:75px !important;
     padding-bottom:20px !important;
}
.intro{
    padding-top:15px !important;
     padding-bottom:55px !important;
}


}

.intro .wpb_wrapper >div{
    margin-bottom:10px !important;
}
@media (min-width: 1000px){
.mb0{
    display:none !important;
}

}

.full-width-section .light .nectar-button:not(.see-through):not(.see-through-2):not(.see-through-3), .full-width-section .light .nectar-button.wpb_animate_when_almost_visible.animated:not(.see-through):not(.see-through-2):not(.see-through-3){
    opacity:1 !important;
}

.mb0 .wpb_wrapper >div, .intro  .wpb_row{
    margin-bottom:0px !important;
}




html.modalopen,html.modalopen .ajax-content-wrap, html.modalopen body,html.modalopen .ocm-effect-wrap{
    overflow-y:hidden !important;
}


@media (max-width: 500px){
@supports (-webkit-overflow-scrolling: touch) {
.propertyframe .iziModal-content,.propertyframe .iziModal-content iframe {
    width: 100%;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
}


.propertyframe .iziModal-wrap {
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
}

.propertyframe .iziModal-content iframe {
 border: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.propertyframe .iziModal-content {
    overflow: scroll !important;
    -webkit-overflow-scrolling: touch !important;
    position: relative;
    -ms-overflow-style: none;
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0; 
    width: 200% !important;
    height: 200% !important;
    -ms-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
}
}
}


#controlbar .nectar_icon_wrap[data-style="soft-bg"] .nectar_icon:before {
    background-color: #2196f3 !important;
    opacity: 1 !important;
}
#controlbar p{
    display: inline-block !important;
    padding-bottom: 0px !important;
}

.reduction{
    height: 60px !important;
    margin-bottom: 0px !important;
}
.reduction .grav-wrap{
    margin-top:10px !important;
}
.reduction h3{
    text-align: right !important;
    margin: 0px !important;
}

.reduction h3 > .oldprice{
    font-size: 15px;
    line-height: 15px;
    text-align: right;
    text-decoration: line-through;
}

.text{
	color:#212121 !important;
}

	
	.features-container{
		position: relative;
		font-size: 12px;
		line-height: 14px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		background: white;
		color: #212121;
		border-top: 1px solid #ccc;
	}
	.feature{
		padding: 10px 20px;
	}
	.post-header{
		margin-bottom:0px !important;
	}
	
	
.features-container i{
    width: 20px !important;
    height: 20px !important;
    line-height: 20px !important;
}

.logo-overlay:not(.touch){
	background-repeat: no-repeat;
	position: fixed !important;
	width: 100%;
	height: 100%;
	z-index: 999;
	border-radius:5px;
	transition: .6s all;
	opacity: 0.0;
}

.logo-overlay:not(.touch):hover{
	opacity: 1;
}

.logo-overlay{
	background-color: rgba(255, 255, 255, 1) !important;
}

.logo-overlay:not(.touch) > .cta-container{
	opacity: 0.0;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.logo-overlay:not(.touch):hover > .cta-container{
	opacity: 1.0;
}
.entire-meta-link{
    -webkit-tap-highlight-color: transparent;
}
.logo-overlay.touch{
	background-repeat: no-repeat;
	position: fixed !important;
	width: 100%;
	height: 100%;
	z-index: 999;
	border-radius:5px;
    transition: .4s all;
    opacity: 0.0;
    -webkit-tap-highlight-color: transparent;
}

.logo-overlay.touch.mobilehover{
    opacity: 1.0;
    -webkit-tap-highlight-color: transparent;
}

.logo-overlay.touch:not(.mobilehover) > .cta-container{
    display: none !important;
}

.logo-overlay.touch.mobilehover > .cta-container{
	display:block !important;
}

.title{
	margin-top: 12px;
}

@media only screen and (max-width: 480px) {
	.full-width-content.blog-fullwidth-wrap:not(.meta-overlaid) {
		padding: 0px 5% !important;
	}
	
	.logo-overlay,.nectar_icon{
		/* transition: none !important; */
	}
	.title{
		margin-top: 16px !important;
	}

}

.masonry.material .masonry-blog-item .grav-wrap img{
	width:24px !important;
	height:24px !important;
}

.tohide{
	display:none !important;
}
	
.nectar_icon:hover{
	box-shadow: 4px 14px 15px rgba(0,0,0,0.05), 2px 10px 10px rgba(0,0,0,0.08);
}
.nectar_icon{
  transition: all 0.4s cubic-bezier(.25,.8,.25,1) !important;
}

.modalurl{
    visibility: visible !important;  
    padding: 5px 14px !important;  
    color: #757575 !important;   
    background-color: #f0f0f0 !important;  
    margin-top: 15px !important;  
    width: 180px !important;  
}

.article-content-wrap .title{
    float: right !important;
}

.grav-wrap{
    float: left !important;
    margin-top: 5px !important;
}
.post-header{
    height: 40px; 
    overflow: hidden !important; 
}
.cta{
    font-size: 20px !important;  
    line-height: 24px !important;   
    height: 24px !important;  
    width: 24px !important;  
}

.cta-container .nectar_icon_wrap{
    margin:10px !important;
}
.title .small{
    font-size: 12px !important;
}

.bookactive:before{
	position: relative;
    right: 5px !important;
    padding: 8px;
    border-radius: 100%;
    background-color: #fdb414 !important;
}
.post-featured-img{
	min-height:190px !important;
    background-color: #fff;
}
.cta-container{
	position: fixed;
    text-align: center;
}


.logo-overlay[data-logo="0"]{
	background-position: 50% 30%;
    background-size: 50%;
	background-image: url('/assets/images/logos/0.png');
}
	
.logo-overlay[data-logo="0"] > .cta-container{
    top: 47%;
    width: 100%;
}

.logo-overlay[data-logo="1"]{
	background-position: 50% 22%;
    background-size: 50%;
	background-image: url('/assets/images/logos/1.png');
}
	
.logo-overlay[data-logo="1"] > .cta-container{
    top: 47%;
    width: 100%;
}

.logo-overlay[data-logo="2"]{
	background-position: 50% 35%;
    background-size: 50%;
	background-image: url('/assets/images/logos/2.png');
}
	
.logo-overlay[data-logo="2"] > .cta-container{
    top: 43%;
    width: 100%;
}

.logo-overlay[data-logo="3"]{
	background-position: 50% 28%;
    background-size: 60%;
	background-image: url('/assets/images/logos/3.png');
}
	
.logo-overlay[data-logo="3"] > .cta-container{
    top: 47%;
    width: 100%;
}

.logo-overlay[data-logo="4"]{
	background-position: 50% 28%;
    background-size: 50%;
	background-image: url('/assets/images/logos/4.png');
}
	
.logo-overlay[data-logo="4"] > .cta-container{
    top: 47%;
    width: 100%;
}

.logo-overlay[data-logo="5"]{
	background-position: 50% 25%;
    background-size: 50%;
	background-image: url('/assets/images/logos/5.png');
}
	
.logo-overlay[data-logo="5"] > .cta-container{
    top: 47%;
    width: 100%;
}

.logo-overlay[data-logo="6"]{
	background-position: 50% 25%;
    background-size: 50%;
	background-image: url('/assets/images/logos/6.png');
}
	
.logo-overlay[data-logo="6"] > .cta-container{
    top: 47%;
    width: 100%;
}

.logo-overlay[data-logo="7"]{
	background-position: 50% 20%;
    background-size: 25%;
	background-image: url('/assets/images/logos/7.png');
}
	
.logo-overlay[data-logo="7"] > .cta-container{
    top: 50%;
    width: 100%;
}

.logo-overlay[data-logo="8"]{
	background-position: 50% 28%;
    background-size: 50%;
	background-image: url('/assets/images/logos/8.png');
}
	
.logo-overlay[data-logo="8"] > .cta-container{
    top: 47%;
    width: 100%;
}

.logo-overlay[data-logo="9"]{
	background-position: 50% 20%;
    background-size: 40%;
	background-image: url('/assets/images/logos/9.png');
}
	
.logo-overlay[data-logo="9"] > .cta-container{
    top: 50%;
    width: 100%;
}


.logo-overlay[data-logo="10"]{
	background-position: 50% 23%;
    background-size: 40%;
	background-image: url('/assets/images/logos/10.png');
}
	
.logo-overlay[data-logo="10"] > .cta-container{
    top: 50%;
    width: 100%;
}

.logo-overlay[data-logo="11"]{
	background-position: 50% 24%;
    background-size: 50%;
	background-image: url('/assets/images/logos/11.png');
}
	
.logo-overlay[data-logo="11"] > .cta-container{
    top: 50%;
    width: 100%;
}

.logo-overlay[data-logo="12"]{
	background-position: 50% 25%;
    background-size: 53%;
	background-image: url('/assets/images/logos/12.png');
}
	
.logo-overlay[data-logo="12"] > .cta-container{
    top: 47%;
    width: 100%;
}

.logo-overlay[data-logo="13"]{
	background-position: 50% 25%;
    background-size: 45%;
	background-image: url('/assets/images/logos/13.png');
}
	
.logo-overlay[data-logo="13"] > .cta-container{
    top: 50%;
    width: 100%;
}

.logo-overlay[data-logo="14"]{
	background-position: 50% 25%;
    background-size: 40%;
	background-image: url('/assets/images/logos/14.png');
}
	
.logo-overlay[data-logo="14"] > .cta-container{
    top: 48%;
    width: 100%;
}

.logo-overlay[data-logo="15"]{
	background-position: 50% 22%;
    background-size: 45%;
	background-image: url('/assets/images/logos/15.png');
}
	
.logo-overlay[data-logo="15"] > .cta-container{
    top: 47%;
    width: 100%;
}

.logo-overlay[data-logo="16"]{
	background-position: 50% 20%;
    background-size: 40%;
	background-image: url('/assets/images/logos/16.png');
}
	
.logo-overlay[data-logo="16"] > .cta-container{
    top: 50%;
    width: 100%;
}

.logo-overlay[data-logo="17"]{
	background-position: 50% 28%;
    background-size: 60%;
	background-image: url('/assets/images/logos/17.png');
}
	
.logo-overlay[data-logo="17"] > .cta-container{
    top: 47%;
    width: 100%;
}


/* HISTORY PAGE */

.logo-overlay[data-logo="gallarija"]{
	background-position: 50% 35%;
    background-size: 55%;
	background-image: url('/assets/images/logo-dark.png');
}
	
.logo-overlay[data-logo="gallarija"] > .cta-container{
    top: 60%;
    width: 100%;
}

.h_results{
	font-weight:700;
	font-size:17px !important;
	line-height:20px !important;
	color:#212121;
	margin-bottom:7px !important;
	text-transform: uppercase !important;
}


.h_date{
	/*border: 2px solid #ccc !important;*/
	display: inline-block !important;
	/*padding: 4px 10px !important;*/
	border-radius: 15px !important;
	margin-top:7px !important;
	margin-bottom:20px !important;
	font-weight:500 !important;
	font-size:15px !important;
	line-height:20px !important;
	color:#212121;
}

.historypage .article-content-wrap{
    min-height: 200px !important;
    padding:40px !important;
}

.post-featured-img{
	text-align: center !important;
}

.masonry.material article.post .post-featured-img img{
	max-height: 500px !important;
}


@media only screen and (max-width: 690px){
    body .vc_row-fluid .wpb_column {
        margin-bottom: 0px !important;
    }
}

.article-content-wrap{
	min-height:70px !important;
}

span.new{
    background-color: #2ecc71 !important;
    color: white !important;
    border-radius: 15px !important;
    padding: 4px 10px !important;
}

span.updated{
    background-color: #2196f3 !important;
    color: white !important;
    border-radius: 15px !important;
    padding: 4px 10px !important;
}